body {
    font-family: Arial, sans-serif;
    background-image: url('TEXTURA/BACKGROUND.jpg'); /* Adicione uma imagem de fundo */
    background-size: cover;
    background-color: #f4f4f4; /* Para o caso de a imagem não carregar */
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    margin-top: 50px;
}

.logo {
    width: 300px;
}

/* Ajustes para telas menores */
@media (max-width: 768px) {
    header {
        margin-top: 20px; /* Reduz o espaçamento superior */
    }

    .logo {
        width: 150px; /* Diminui o tamanho da logo */
    }
}

/* Ajuste do menu */
.menu {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.option {
    text-decoration: none;
    background-color: #007bff;
    color: white;
    padding: 20px 40px;
    border-radius: 10px;
    font-size: 20px;
}

.option:hover {
    background-color: #0056b3;
}

/* Estilo responsivo para o menu */
@media (max-width: 768px) {
    .menu {
        flex-direction: column; /* Muda para uma coluna em telas menores */
        gap: 20px; /* Reduz o espaço entre as opções */
        margin-top: 50px; /* Diminui a margem superior */
    }

    .option {
        padding: 15px 20px; /* Ajusta o espaçamento interno dos botões */
        font-size: 18px; /* Reduz o tamanho da fonte */
    }
}

.auth-container {
    margin-top: 50px;
}

.auth-container button {
    padding: 10px 20px;
    font-size: 18px;
    margin: 0 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.auth-container button:hover {
    background-color: #218838;
}

/* Ajustes para telas menores */
@media (max-width: 768px) {
    .auth-container {
        margin-top: 30px; /* Diminui a margem superior */
    }

    .auth-container button {
        font-size: 16px; /* Reduz o tamanho da fonte dos botões */
        padding: 8px 16px; /* Ajusta o espaçamento dos botões */
    }
}
